NODE_ENV=development
PORT=3000
DATABASE_URL=mongodb+srv://shamna:Admin%40123%2C.@cluster-node.0lw7ywp.mongodb.net/testDataBase?retryWrites=true&w=majority
JWT_SECRET=<<<<<++++random++++secret++++string++++>>>>>>